/* -------------------------------------------------------- Navigateur -------------------------------------------------------------------- */
.logo-nav-wrapper{
display: table;
background-color : #171717;
width: 100%;
height:5%;
padding-right:5%;
vertical-align:middle;
box-sizing: border-box;
margin-bottom:-20px;
}
.site-logo img{
max-height:75px;
width:auto;
padding-top:10px;
padding-left:130px;
}
.logo-wrapper{
display: table-cell;
}
.nav-wrapper{
display: table-cell;
width:70%;
text-align: right;
vertical-align: middle;
padding-top:10px;
}
#menu li {
display: inline;
padding: 2px 5px 2px 5px;
color:#FFF;
letter-spacing: 1px;
font-weight: normal;
line-height: 2em;
margin: 0 0 0 30px;
text-transform:uppercase;
}
#menu li a:link{
text-decoration:none;
}
#menu li a:visited{
color:#FFF;
}
#menu #li-admin{
margin-right:300px;
}
/* -------------------------------------------------------- Page D'accueil----------------------------------------------------------------- */
/* -------------------------------------------------------- Carousel----------------------------------------------------------------- */
#carousel-wrapper {
	width:800px;
	height: 220px;
	margin: -110px 0 0 -367px;
	position: absolute;
	left: 53.5%;
	top: 39%;
}

#carousel {
	width: 800px;
	position:vrelative;
}

#carousel ul {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
}

#carousel li {
	background: transparent url(../ressources/home-carousel/carousel_polaroid2.png) no-repeat 0 0;
	font-size: 40px;
	color: #999;
	text-align: center;
	display: block;
	width: 203px;
	height: 305px;
	padding: 0;
	margin: 6px;
	float: left;
	position: relative;
}

#carousel li img {
	width: 175px;
	height: 230px;
	margin-top: 16px;
	margin-right : 4px;
}

#carousel li span {
	text-indent: -999px;
	display: block;
	overflow: hidden;
	width: 203px;
	height: 305px;
	position: absolute;
	z-index: 2;
	top: 10px;
	left: -11px;
}			

.clearfix {
	float: none;
	clear: both;
}

.pager-wrapper{
padding-right : 19%;
}
			
			
#carousel .pager {
	text-align: center;
	margin: 0 auto;
}

#carousel .pager a {
	background: transparent url(../ressources/home-carousel/carousel_control.png) no-repeat -2px -32px;
	text-decoration: none;
	text-indent: -999px;
	display: inline-block;
	overflow: hidden;
	width: 8px;
	height: 8px;
	margin: 0 5px 0 0;
}

#carousel .pager a.selected {
	background: transparent url(../ressources/home-carousel/carousel_control.png) no-repeat -12px -32px;
	text-decoration: underline;				
}


.home-body{
height:490px;
}

.home-message{
padding-top : 29%;
text-align:center;
}

/* -------------------------------------------------------- Suggestion -------------------------------------------------------------------- */
.poster-about{
display:inline-block;
box-sizing:border-box;
}
.about_movie{
display:inline-block;
float:right;
width:56%;
margin-right:5%;
padding-top:4%;
padding-right:2%;
text-align:justify;
line-height: 1.2em;
}
#MovieTitle{
color:#7D0000;
font-style:bold;
font-size:1.5em;
}
.poster img{
width:75%;
}
.poster{
display:inline-block;
float:left;
/*resizing the img to 75%*/
/*transform:scale(0.75);*/
padding-top:4%;
padding-left:7%;
width:30%
}
.seance-wrapper{
padding-top:40px;
}
.seance-wrapper #div-img img{
margin-left:550px;
width:20%;
height:auto;
}
.seance-wrapper #div-title h2{
float:right;
width:63%;
}
.about{
margin-top:50px;
height:64%;
}

/* -------------------------------------------------------- A Propos ---------------------------------------------------------------------- */

.about{
text-align : center;
width:auto;
height:auto;
}

/*Pour faire les images circulaires*/
.about-circular-ben {
	width: 235px;
	height: 235px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(../ressources/about_Ben.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	float : left;
	margin-left: 17.5%;
	padding-top: 1% ;
}

.about-circular-suf {
	width: 235px;
	height: 235px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(../ressources/about_Sufiane4.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	float : right;
	margin-right: 17.5%;
	padding-top: 1% ;
}

.about-title{
	margin-top : 3%;
	font-size : 17px;
	padding-top: 10%;
	margin-left:2%;
	margin-right:2%;
}

.about-description{
	font-size : 16.5px;
	margin-top : 6%;
	margin-left : 16%;
	margin-right : 16%;
	text-align : justify;
	padding-top:2%;
}

/* -------------------------------------------------------- Icone FB ---------------------------------------------------------------------- */
/*
.fb{
text-decoration:none;
color: #FFF;
}*/
.fb:before, .nous:before{
content:'\e604';
font-family:'icomoon';
speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

 Better Font Rendering =========== 
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
} 
/*
.connec:before{
content:'\e600';
}
*/
.nous:before{
content:'\e96e';
} 

/* -------------------------------------------------------- Footer ------------------------------------------------------------------------ */
.footer-wrapper{
width:100%;
height:20%;
background-color : #171717;
}
.footer-wrapper #footer-menu li a:link{
text-decoration:none;
color:#FFF;
}
.footer-wrapper #footer-menu li a:visited{
color:#FFF;
}
#footer-menu{
color:#FFF;
letter-spacing:1px;
padding-top: 20px;
line-height:2em;
list-style-type:none;
margin-left:25px;
padding-top:35px;
}
.footer-wrapper #menu-logo img{
float:right;
margin-right:60px;
padding-top:30px;
}
.footer-wrapper #copyright {
text-align:center;
color:#FFF;
}

/* -------------------------------------------------------- Admin ------------------------------------------------------------------------- */
#form #formFilm{
height:auto;
border: 2px solid;
border-radius:25px;
margin-top : 50px;
margin-left: 30%;
margin-right: 30%;
margin-bottom:25px;
padding-bottom:10px;
}

#form #formFilm h2{
padding-left: 40px;
}

#form ul li {
list-style-type:none;
line-height:2.5em;
}
#form ul li .description{
font-style:italic;
font-size:15px;
}

#form ul #Title #title{
margin-left:50px;
padding-right: 200px;
}
#form ul #Real #realisateur {
margin-left:7px;
padding-right: 200px;
}
#form ul #Acteurs #acteurs {
margin-left:30px;
padding-right: 200px;
}

#form ul #Genre #genre1{
margin-left:17px;
}

#form ul #synopsis #synopsis{
resize:none;
height:75px;
width:95%;
border-radius:10px;
border: 1px solid;
}
#form ul #justification #justification{
resize:none;
height:75px;
width:95%;
border-radius:10px;
border: 1px solid;
}

#form ul #buttons #ButtonsWrapper{
text-align:center;
margin-left:-40px;
}

/* -------------------------------------------------------- General ----------------------------------------------------------------------- */
body {
color: #333;
background-color: #FAF5F5;
font-family: Helvetica, Georgia, serif;
font-family: Helvetica;
font-size: 14px;
line-height: 1.6em;
letter-spacing: 0px;
font-weight: 400;
font-style: normal;
margin: 0;
}

div {
display:block;
}