/* -------------------------------------------------------- Navigateur -------------------------------------------------------------------- */
.logo-nav-wrapper{
display: table;
background-color : #171717;
width: 100%;
height:85px;
padding-right:5%;
vertical-align:middle;
box-sizing: border-box;
margin-bottom:-20px;
}
.site-logo img{
height:75px;
width:auto;
margin-top:3px;
padding-left:130px;
}
.logo-wrapper{
display: table-cell;
}
.nav-wrapper{
display: table-cell;
width:70%;
text-align: right;
vertical-align: middle;
padding-top:10px;
}
#menu li {
display: inline;
padding: 2px 5px 2px 5px;
color:#FFF;
letter-spacing: 1px;
font-weight: normal;
line-height: 2em;
margin: 0 0 0 30px;
text-transform:uppercase;
}
#menu li a:link{
text-decoration:none;
}
#menu li a:visited{
color:#FFF;
}
#menu #li-admin{
margin-right:300px;
}
/* -------------------------------------------------------- Page D'accueil----------------------------------------------------------------- */
/* -------------------------------------------------------- Carousel----------------------------------------------------------------- */
#carousel-wrapper {
	width:800px;
	height: 220px;
	margin: -110px 0 0 -367px;
	position: absolute;
	left: 53.5%;
	top: 39%;
}

#carousel {
	width: 800px;
	position:vrelative;
}

#carousel ul {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
}

#carousel li {
	background: transparent url(../ressources/home-carousel/carousel_polaroid.png) no-repeat 0 0;
	font-size: 40px;
	color: #999;
	text-align: center;
	display: block;
	width: 203px;
	height: 305px;
	padding: 0;
	margin: 6px;
	float: left;
	position: relative;
}

#carousel li img {
	width: 175px;
	height: 237px;
	margin-top: 13px;
	margin-right : 4px;
}

#carousel li span {
	text-indent: -999px;
	display: block;
	overflow: hidden;
	width: 203px;
	height: 305px;
	position: absolute;
	z-index: 2;
	top: 10px;
	left: -11px;
}			

.clearfix {
	float: none;
	clear: both;
}

.pager-wrapper{
padding-right : 19%;
}
			
			
#carousel .pager {
	text-align: center;
	margin: 0 auto;
}

#carousel .pager a {
	background: transparent url(../ressources/home-carousel/carousel_control.png) no-repeat -2px -32px;
	text-decoration: none;
	text-indent: -999px;
	display: inline-block;
	overflow: hidden;
	width: 8px;
	height: 8px;
	margin: 0 5px 0 0;
}

#carousel .pager a.selected {
	background: transparent url(../ressources/home-carousel/carousel_control.png) no-repeat -12px -32px;
	text-decoration: underline;				
}


.home-body{
height:490px;
}

.home-message{
padding-top : 29%;
text-align:center;
color : #171717;
h1.font-weight : 800; 
}

/* -------------------------------------------------------- Suggestion -------------------------------------------------------------------- */
.poster-about{
display:inline-block;
box-sizing:border-box;
}
.about_movie{
display:inline-block;
float:right;
width:56%;
margin-right:5%;
padding-top:4%;
padding-right:2%;
text-align:justify;
line-height: 1.2em;
}
.about_movie h1{
margin-top:-5px;
padding-bottom:25px;
}

.about_movie h4{
padding-top:10px;
}
#TitleMovie{
margin-bottom:20px;
}
#MovieTitle{
color:#7D0000;
font-size:1.5em;
}
#GenreTitle{
margin-left:25px;;
}
.poster img{
width:100%;
}
.poster{
display:inline-block;
float:left;
/*resizing the img to 75%*/
/*transform:scale(0.75);*/
padding-top:4%;
padding-left:7%;
width:30%
}
.seance-wrapper{
padding-top:20px;
}
.seance-wrapper #div-img img{
margin-left:550px;
width:20%;
height:auto;
}
.seance-wrapper #div-title h2{
float:right;
width:63%;
}
.about{
margin-top:50px;
height:64%;
}

/* -------------------------------------------------------- A Propos ---------------------------------------------------------------------- */

.about{
text-align : center;
width:auto;
height:auto;
}

/*Pour faire les images circulaires*/
.about-circular-ben {
	width: 235px;
	height: 235px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(../ressources/about_Ben.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	float : left;
	margin-left: 16%;
	margin-top: 0.5% ;
}

.about-circular-suf {
	width: 235px;
	height: 235px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(../ressources/about_Sufiane4.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	float : right;
	margin-right: 16%;
	margin-top: 0.5% ;
}

.about-title{
	margin-top : 3%;
	font-size : 17px;
	padding-top: 10%;
	margin-left:2%;
	margin-right:2%;
}

.about-description{
	font-size : 16.5px;
	margin-top : 5%;
	margin-left : 16%;
	margin-right : 16%;
	text-align : justify;
	padding-top:2%;
	margin-bottom : 4%;
}

/* -------------------------------------------------------- Footer ------------------------------------------------------------------------ */
.footer-wrapper{
width:100%;
height:21%;
background-color : #171717;

}
.footer-wrapper #footer-menu li a:link{
text-decoration:none;
color:#FFF;
}
.footer-wrapper #footer-menu li a:visited{
color:#FFF;
}
#footer-menu{
color:#FFF;
letter-spacing:1px;
padding-top: 20px;
line-height:2em;
list-style-type:none;
margin-left:25px;
padding-top:35px;
}
.footer-wrapper #menu-logo img{
float:right;
margin-right:60px;
padding-top:30px;
}
.footer-wrapper #copyright {
text-align:center;
color:#FFF;
}

/* ======================================================== Admin ========================================================================= */
/* --------------------------------------------------- Accueil Panel Admin ---------------------------------------------------------------- */
/*DropDownMenu*/
#cssmenu ul {
  list-style: none;
  padding: 0;
  margin: -5;
  line-height: 1;
  float: left;
  top : 20px;
  margin-right: -165px;
}
#cssmenu > ul {
  position: relative;
  display: block;
  background: #171717;
  width:100%;
  z-index: 500;
vertical-align: center;
  }
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu > ul > li {
  display: inline-block;
  position: relative;
  margin-right: 0px;
  padding: 0;
}

#cssmenu > ul > #menu-button {
  display: none;
}
#cssmenu ul li a {
  display: block;
  text-decoration: none;
}
#cssmenu > ul > li > a {
  font-size: 14px;
  font-family: Helvetica, Georgia, serif;
  font-family: Helvetica;
  padding: 15px 15px;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -ms-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 60px;
}
#cssmenu > ul > li:hover > a {
  color: #7a8189;
}
#cssmenu li.has-sub::after {
  display: block;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}
#cssmenu > ul > li.has-sub::after {
  right: 37px;
  top: 20px;
  border: 5px solid transparent;
  border-top-color: #ffffff;
}
#cssmenu > ul > li:hover::after {
  border-top-color: #7a8189;
}

#pIndicator {
  position: absolute;
  height: 0;
  width: 100%;
  border: 12px solid transparent;
  border-top-color: #2b2f3a;
  z-index: -2;
  -webkit-transition: left .25s ease;
  -moz-transition: left .25s ease;
  -ms-transition: left .25s ease;
  -o-transition: left .25s ease;
  transition: left .25s ease;
}
#cIndicator {
  position: absolute;
  height: 0;
  width: 100%;
  border: 12px solid transparent;
  border-top-color: #2b2f3a;
  top: -12px;
  right: 100%;
  z-index: -2;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  top: 70px;
  opacity: 0;
  -webkit-transition: opacity .3s ease, top .25s ease;
  -moz-transition: opacity .3s ease, top .25s ease;
  -ms-transition: opacity .3s ease, top .25s ease;
  -o-transition: opacity .3s ease, top .25s ease;
  transition: opacity .3s ease, top .25s ease;
  z-index: 1000;
}

#cssmenu ul ul li {
  position: relative;
}
#cssmenu > ul > li:hover > ul {
  left: auto;
  top: 44px;
  opacity: 1;
}
#cssmenu.align-right > ul > li:hover > ul {
  left: auto;
  right: 0;
  opacity: 1;
}
#cssmenu ul ul li:hover > ul {
  left: 170px;
  top: 0;
  opacity: 1;
}
#cssmenu.align-right ul ul li:hover > ul {
  left: auto;
  right: 170px;
  top: 0;
  opacity: 1;
  padding-right: 5px;
}
/*sous-menu*/
#cssmenu ul ul li a {
  width: 180px;
  border-bottom: 1px solid #eeeeee;
  padding: 10px 20px;
  font-size: 16px;
  color: #9ea2a5;
  background: #ffffff;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -ms-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}
#cssmenu.align-right ul ul li a {
  text-align: right;
}
#cssmenu ul ul li:hover > a {
  background: #8c9195;
  color: #f2f2f2;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last > a {
  border-bottom: 0;
}
#cssmenu > ul > li > ul::after {
  content: '';
  border: 6px solid transparent;
  width: 0;
  height: 0;
  border-bottom-color: #ffffff;
  position: absolute;
  top: -12px;
  left: 30px;
}
#cssmenu.align-right > ul > li > ul::after {
  left: auto;
  right: 30px;
}
/* Message d'Accueil */
.admin-body{
text-align : center;
font-weight: bold;
margin-top : 190px;
margin-bottom : 25px;
}
.admin-body.h1{}

.admin-message{
text-align : center;
font-size : 16px;
margin-bottom : 180px;
}

/* -------------------------------------------------------- Soumettre un film ------------------------------------------------------------- */
#form #formFilm{
height:auto;
border: 2px solid;
border-radius:25px;
margin-top : 50px;
margin-left: 30%;
margin-right: 30%;
margin-bottom:25px;
padding-bottom:10px;
}
#form #formFilm h2{
padding-left: 40px;
}
#form ul li {
list-style-type:none;
line-height:2em;
}
#form ul li .description{
font-style:italic;
font-weight:200; /*need it so the name of the label doesn't look bold*/
}
#form ul #Title #title{
margin-left:50px;
width:379px;
line-height:1.5em;
}
#form ul #Real #realisateur {
margin-left:7px;
width:379px;
line-height:1.5em;
}
#form ul #Acteurs #acteurs {
margin-left:31px;
width:379px;
line-height:1.5em;
}

#form ul #Genre #genre1{
margin-left:17px;
}

#form ul #synopsis #synopsis{
resize:none;
height:75px;
width:95%;
border-radius:10px;
border: 1px solid;
}

#form ul #Affiche #affiche-description{
float:left;
}
#form ul #Affiche #affiche{
padding-left:20px;
padding-top:3px;
}

#form ul #justification label{
margin-left:-105px;
padding-top:5px;
}

#form ul #justification #justification{
resize:none;
height:75px;
width:95%;
border-radius:10px;
border: 1px solid;
}
#form ul #buttons #ButtonsWrapper{
text-align:center;
margin-left:-40px;
line-height:1.5em;
}
/* ------------------------------------------------------- Carousel ----------------------------------------------------------------------- */
.carousel-image-wrapper{
padding-bottom : 5px;
display:block;
}

.carousel-affiche-label{
font-style:italic;
font-weight:200;
padding-top: 10px;	
}

.carousel-affiche{
float:right;
padding-right:130px;
padding-top:13px;
}

#form #formCarousel{
height:auto;
border: 2px solid;
border-radius:25px;
margin-top : 50px;
margin-left: 30%;
margin-right: 30%;
margin-bottom:25px;
padding-bottom:10px;
}

/* ------------------------------------------------------- Inscription -------------------------------------------------------------------- */
#form #formInscription{
height:auto;
border: 2px solid;
border-radius:25px;
margin-top : 50px;
margin-left: 30%;
margin-right: 30%;
margin-bottom:25px;
padding-bottom:10px;
}

#form h2{
padding-left: 40px;
}

#form ul li {
list-style-type:none;
line-height:2em;

}
#form ul li .description{
font-style:italic;
font-weight:200; /*need it so the name of the label doesn't look bold*/
}

#form ul #Pseudo #pseudo{
margin-left:2.2%;
width:379px;
line-height:1.5em;
}
#form ul #Mail #mail {
margin-left:5%;
width:379px;
line-height:1.5em;
}
#form ul #Pass #pass {
margin-left:1%;
width:347px;
line-height:1.5em;
}
#form ul #Pass2 #pass2 {
margin-left:2%;
width:347px;
line-height:1.5em;
}

#formInscription ul #Genre #genre1{
margin-left:-0.5%;
margin-right:7%;
}
#formInscription ul #Genre #genre2{
margin-right:7%;
}

#form ul #Description #description{
resize:none;
height:75px;
width:90%;
border-radius:10px;
border: 1px solid;
}

#form ul #buttons #ButtonsWrapper{
text-align:center;
margin-left:-40px;
line-height:1.5em;
}

/* ------------------------------------------------------- Inscription -------------------------------------------------------------------- */
#form #formInscription{
height:auto;
border: 2px solid;
border-radius:25px;
margin-top : 50px;
margin-left: 30%;
margin-right: 30%;
margin-bottom:25px;
padding-bottom:10px;
}

#form h2{
padding-left: 40px;
}

#form ul li {
list-style-type:none;
line-height:2em;
}
#form ul li .description{
font-style:italic;
font-weight:200; /*need it so the name of the label doesn't look bold*/
}

#form ul #Pseudo #pseudo{
margin-left:2.2%;
width:379px;
line-height:1.5em;
}
#form ul #Mail #mail {
margin-left:5%;
width:379px;
line-height:1.5em;
}
#form ul #Pass #pass {
margin-left:1%;
width:347px;
line-height:1.5em;
}
#form ul #Pass2 #pass2 {
margin-left:2%;
width:347px;
line-height:1.5em;
}

#formInscription ul #Genre #genre1{
margin-left:-0.5%;
margin-right:7%;
}
#formInscription ul #Genre #genre2{
margin-right:7%;
}

#form ul #Description #description{
resize:none;
height:75px;
width:90%;
border-radius:10px;
border: 1px solid;
}

#form ul #buttons #ButtonsWrapper{
text-align:center;
margin-left:-40px;
line-height:1.5em;
}

/* -------------------------------------------------------- Login ------------------------------------------------------------------------- */
#form #formLogin{
height:auto;
width:30%;
border: 2px solid;
border-radius:25px;
margin-top : 50px;
margin-left: 35%;
margin-right: 30%;
margin-bottom:25px;
padding-bottom:10px;
}

#form h2{
padding-left: 40px;
}
#form ul li {
list-style-type:none;
line-height:2em;
}
#form input{
line-height:1.8em;
}
#form ul #PseudoLogin #pseudoLogin{
margin-left:12.6%;
}

#inscription{
margin-top:3%;
margin-left:20%;
margin-right:20%;
margin-bottom:5%;
}
#inscription h2{
text-align:center;
}
#inscription #accrocheInscription{
font-size:16px;
text-align:justify;
}
#inscription #accrocheInscription #dvlpt{
font-size:12px;
}
#inscription {
text-align:center;
}
#inscription #buttonInscription{
text-align:center;
border: 1px solid;
border-radius:25px;
width:20%;
height:7%;
color:#FFF;
background:#171717;
margin-left:42%;
margin-right:42%;
font-weight:bold;
font-size:20px;
}
#inscription #buttonInscription a:link{
text-decoration:none;
}
#inscription #buttonInscription a:visited{
color:#FFF;
}
#inscription #buttonInscription p{
padding:10px;
}
#ButtonsWrapper{
margin-top:2%;
margin-left:-40px;
text-align:center;
}

.buttonValider{
border-radius:25px;
background:#171717;
color:#FFF;
border: 2px solid;
height:5%;
width:auto;
font-weight:bold;
}

/* -------------------------------------------------------- General ----------------------------------------------------------------------- */
body {
color: #333;
background-color: #FAF5F5;
font-family: Helvetica, Georgia, serif;
font-family: Helvetica;
font-size: 14px;
line-height: 1.6em;
letter-spacing: 0px;
font-weight: lighter;
font-style: normal;
margin: 0;
}

div {
display:block;
}
/*To disable the outline focus*/
*:focus {
    outline: 0;
}